<!DOCTYPE>
<html lang="pt-br">
  <head>
    <link rel="stylesheet"  href="../_css/style.css">
    <meta  charset = "utf-8">
    <link rel ="manifest"  href="icon-512x512.png"/>
    <link rel ="icon"  type ="imagem/png"  href="icon-512x512.png"/>
    <link rel ="apple-touch-icon" type ="imagem/png"  href="icon-512x512.png"/>
    <link rel ="shortcut icon" type ="imagem/png"  href="icon-512x512.png"/>
    <meta name="viewport" content="width=device-width.initial-scale=1">
    
  </head>

  <body>
    <h1>  Home  </h1>
    
    <div>
        <a  class="button"  href="/">Page 1</a>
        <a  class="button"  href="#">Page 2</a>
        <a  class="button"  href="#">Page 3</a>
        <a  class="button"  href="#">Page 4</a>
      
    </div>
    
    <p>
    loren ipsummmmmmmmmmmmm...lore   Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Velit expedita tenetur harum quaerat voluptas, deleniti non nihil, eaque mollitia perspiciatis corporis sapiente consequatur accusantium pariatur eius quam exercitationem vel modi.
    </p>
    
    
    
    <h2>
      Teste título
    </h2>
    <p>
    loren ipsummmmmmmmmmmmm...
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Magni nam distinctio ipsum, fuga voluptas aspernatur reprehenderit aut! Animi hic natus cum numquam beatae accusantium at distinctio obcaecati nesciunt. Nesciunt, optio?
    </p>
    
    <h2>
      Teste título
    </h2>
    <p>
    loren ipsummmmmmmmmmmmm...
    </p>
    
    <script>
      if ('serviceWorker' in navigator){
      navigator.serviceWorker.register('generate-sw.js');//tem que colocar na pasta esse arquivo também--colocar em 'public'--é o arquivo de cache
      }
    
    
      
    </script>


  </body>
</html>
